body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #1a0033, #05000c);
    font-family: Arial, sans-serif;
    color: white;
}

.game {
    position: relative;
}

canvas {
    border-radius: 22px;
    background: radial-gradient(circle at top, #220044, #090012);
}

.multiplier {
    position: absolute;
    top: 22px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #00ff88;
    text-shadow: 0 0 12px #00ff88;
}

#startBtn {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 46px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #ff00ff, #ff66ff);
    color: white;
    box-shadow: 0 0 20px #ff00ff;
}
