.ball-escape-wrapper {
    width: 360px; /* Фиксируем ширину под холст */
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    background: #0b011d;
}

.canvas-container {
    position: relative;
    width: 360px;
    height: 420px;
    overflow: hidden; /* Чтобы шарик не вылетал визуально за пределы */
}

.zone-icons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}
